.body {
    background-color: #240000;
}

.header {
    background: linear-gradient(90deg, rgba(5,0,0,1) 0%, rgba(222,208,0,1) 36%, rgba(255,243,0,1) 60%);
}

.img1 {
    height: 150px;
    width: 160px;
    margin-left: 60px;
}

.item1 {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 50px;
    height: 230px;
}

.h1 {
    font-size: 40px;
}

.item2 {
    background: linear-gradient(90deg, rgba(224,77,3,1) 13%, rgba(246,230,41,1) 44%, rgba(255,132,0,1) 74%);
    text-align: center;
}

.h3{
    color:orange;
    text-align: center;
}

.h6 {
    color: white;
}

.table{
    border: 1px solid black; 
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(90deg, rgba(214,154,0,1) 2%, rgba(246,175,41,1) 33%, rgba(237,233,95,1) 50%, rgba(186,244,102,1) 71%);
}

.th {
    border: 1px solid black;
}

.td {
    border: 1px solid black;
}

.h {
    color: #ee5514;
    text-align: center;
}

.fieldset {
    background: linear-gradient(rgba(135,0,0,1), rgba(159,79,0,1), rgba(156,153,0,1), rgba(11,68,0,1));
}

.fieldset1:hover {
    background-color: #fb3131;
}

.fieldset2:hover {
    background-color: #f68e27;
}

.fieldset3:hover {
    background-color: #f9f41c;
}

.fieldset4:hover {
    background-color: #21c900;
}