.container {
    background-color: red;
    display: flex;
}

.item {
    flex: 1;
    background-color: red;
    color: black;
    text-align: center;
}

.container1 {
    display: flex;
    background-color: white;
}

.item-2 {
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    display: inline;
}

.button {
    background-color: rgb(18, 160, 18);
    color: beige;
    border: none;
    width: 200px;
    height: 50px;
}

.item001 {
    flex: 1;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: 10px;
}

.item002 {
    flex: 2;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: 10px;
}

.grid-container {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 90px);
    gap: 10px;
}

.grid-item001 {
    flex: 3;
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

